/* 
FONTS----
font-family: objektiv-mk2, sans-serif;
font-weight: 300;
font-style: normal;

font-family: noto-sans-cjk-kr, sans-serif;
font-weight: 300;
font-style: normal;

font-family: viktor-script, sans-serif;
font-weight: 400;
font-style: normal;

font-family: mongoose,sans-serif;
font-weight: 400;
font-style: normal;

------------------------------------------

COLOURS----
Almost white = #f7f7f7;
Light gray = #EFEFEF;
Sand = #c8c7c2;
Dark gray/brown = #3A403B;
Light green/teal = #9fbfaf;
-------------------------------------------
*/

body{
    background-color: #EFEFEF;
    margin: 0;
    line-height: 1.5;
}

main {
    max-width: 90%;
    margin: auto;
}

footer{
    background-color: #3A403B;
}

/*FONTS SIZES COLOURS*/
h1,
h2 {
    font-family: "objektiv-mk2", sans-serif;
    font-weight: 500;
    font-style: normal; 
}

h1 {
    font-size: 1.8rem;  
}

h2 {
    font-size: 1.5rem;  
}

p,
h3,
h4,
h5,
h6 {
    font-family: "noto-sans-cjk-kr", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem; 
    text-decoration: none;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-size: 1.1rem; 
}

.logo,
.signature {
    font-family: "viktor-script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5rem;
    text-transform: none;
}

.signature {
    font-size: 30pt;
}

a,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3A403B;
}

header li {
    font-family: "mongoose", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    display: inline;
    font-size: 2.5rem;
    padding: 25px 40px;
}

/*HEADER--------------------------*/
header li a{
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
    text-decoration-color: #9fbfaf;
}

.logo a:hover {
    text-decoration: none;
}

header ul {
    margin: auto;
    text-align: center;
    padding-left: 0;
}

/*FOOTER-----------------------------------------*/
footer p {
    text-align: right;
    color: #EFEFEF;
    padding: 25px;
}


/*INDEX PAGE ------------------------------------------------------*/
/*GRID*/

.index-post{
    grid-area: post;
}
.index-journey{
    grid-area: journey;
}
.index-latest{
    grid-area: latest;
}
.index-carousel{
    grid-area: carousel;
}

.index-content {
    display: grid;
    grid-template-areas: 
    "post journey"
    "post latest"
    "carousel carousel";
}

.index-post,
.index-journey,
.index-latest,
.index-carousel{
 background-color: #f7f7f7;
 padding: 30px;
 margin: 10px;   
}

.index-post{
    padding: 50px;
}

.index-post img{
    max-height: 300px;
    object-fit: cover;
    
}

/* CAROUSEL */
.index-carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.carousel-item p {
    display: none;
}

.carousel-item img {
    max-width: 100px;
    max-height: 150px;
    object-fit: cover;
}

/*ARCHIVE---------------------------------------------------------------*/

