/* 
FONTS----
font-family: objektiv-mk2, sans-serif;
font-weight: 300;
font-style: normal;

font-family: noto-sans-cjk-kr, sans-serif;
font-weight: 300;
font-style: normal;

font-family: viktor-script, sans-serif;
font-weight: 400;
font-style: normal;

font-family: mongoose,sans-serif;
font-weight: 400;
font-style: normal;

------------------------------------------

COLOURS----
Almost white = #f7f7f7;
Light gray = #EFEFEF;
Sand = #c8c7c2;
Dark gray/brown = #3A403B;
Light green/teal = #9fbfaf;
-------------------------------------------
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body{
    background-color: #EFEFEF;
    margin: 0;
    line-height: 1.5;
    max-width: 100%;
    overflow-x: hidden;
}

main {
    max-width: 90%;
    margin: auto;
}

footer{
    background-color: #3A403B;
}

button {
    background-color: #3A403B;
    color:#EFEFEF;
    border: none;
    padding: 10px 25px;
    text-transform: uppercase;
}

button:hover {
    background-color:#c8c7c2;
    color: #f7f7f7;
    cursor: pointer;
}

/*FONTS SIZES COLOURS*/
h1,
h2 {
    font-family: "objektiv-mk2", sans-serif;
    font-weight: 700;
    font-style: normal; 
}

h1 {
    font-size: 2.2rem; 
}

h2 {
    font-size: 1.5rem;  
}

p,
h3,
h4,
h5,
h6,
input,
textarea,
button {
    font-family: "noto-sans-cjk-kr", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem; 
    text-decoration: none;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-size: 1.1rem; 
}

.logo,
.signature {
    font-family: "viktor-script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    text-transform: none;
}

.signature {
    font-size: 2rem;
    text-align: center;
}

a,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3A403B;
}

header li {
    font-family: "mongoose", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    display: inline;
    font-size: 2.5rem;
    padding: 25px 40px;
}

/*HEADER--------------------------*/
header li a{
    text-decoration: none;
}

header li a:hover,
.current {
    text-decoration: underline;
    text-decoration-color: #9fbfaf;
}

.logo a:hover {
    text-decoration: none;
}

header ul {
    margin: 10px auto 40px;
    text-align: center;
    padding-left: 0;
}

/*FOOTER-----------------------------------------*/
footer p {
    text-align: right;
    color: #EFEFEF;
    padding: 25px;
}


/*INDEX PAGE ------------------------------------------------------*/
/*GRID*/

.index-post{
    grid-area: post;
}
.index-journey{
    grid-area: journey;
}
.index-latest{
    grid-area: latest;
}

.index-content {
    display: grid;
    grid-template-areas: 
    "post journey"
    "post latest";
}

.contact-background,
.about-content,
.post-content,
.archive-item,
.index-post,
.index-journey,
.index-latest,
.index-carousel{
 background-color: #f7f7f7;
 padding: 30px;
 margin: 10px;   
}

.index-post{
    padding: 50px;
}

.post-content img,
.index-post img{
    max-height: 300px;
    object-fit: cover;
}

/* WELCOME*/
.index-journey {
    max-width: 320px;
}

/* CAROUSEL */
.latest-item {
    display: flex;
    flex-direction: column;
}

.carousel-item {
    border: 2px solid #efefef;
    border-radius: 3px;
    max-width: 200px;
    margin: 10px auto;
}

.carousel-item h3,
.carousel-item a,
i {
    text-align: center;
}

i {
    margin: auto;
    font-size: 3rem;
    color: #3A403B;
    padding: 20px;
}

.carousel-item p {
    display: none;
}

.carousel-item img {
    max-height: 150px;
    object-fit: cover;
}

.index-latest{
    text-align: center;
}


.index-latest h2{
    text-align:left;
}

.index-button {
    margin: auto;
}
/*ARCHIVE---------------------------------------------------------------*/

.heading {
    margin: 0 auto 20px 20px;
}

.heading h1,
.heading p{
    display: inline;
    margin: auto;
    text-align: center;
}

.archive-item p {
    padding: 0;
    display: none;
}

.date {
    display: block;
}

.archive-item {
    max-height: 250px;
    overflow: hidden;
    display: flex;
    padding: 10px;
}

.archive-item:hover,
.carousel-item:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;  
}

.archive-item img {
    max-height: 190px;
    max-width: 450px;
    object-fit: cover;
}

.button-container {
    padding: 20px;
    text-align: center;
}

/*BLOG POST-------------------------*/
.post-content {
    padding: 20px 80px;
}

.prev-next {
    text-align: center;
    margin: 20px;
}

.prev-next button {
    margin: 0 20px;
    width: 200px;
}

.comment-container,
.contact-form-container {
    background-color: #c8c7c2;
    padding: 20px;
    margin: auto;
}

.contact-form input,
.contact-form textarea,
.contact-form button,
.contact-form h2,
.message-form input,
.message-form textarea,
.message-form button,
.comment-container h2{
    margin: 10px auto;
    display: block;
    padding: 10px;
    width: 100%;
    border: none;
}

.contact-form button:hover,
.message-form button:hover {
    background-color: #3A403B;
    color:#c8c7c2;
}

/*ABOUT------------------------------------------------------*/
.about-content img {
    float: right;
    margin: 20px;
}

/*CONTACT--------------------------------------------------------*/

.form-item input,
.form-item textarea {
	border: 2px solid #f7f7f7;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-item input:focus,
.form-item textarea:focus {
	outline: 0;
	border-color: #3A403B;
}

.form-item.success input,
.form-item.success textarea {
	border-color: #2abb66;
}

.form-item.error input,
.form-item.error textarea {
	border-color: #e74c3c;
}

.form-item p,
.form-item small {
    display: inline;
}

.form-item small {
	color: #e74c3c;
	visibility: hidden;
}

.form-item.error small {
	visibility: visible;
}


@media screen and (max-width: 885px) {
/*GENERAL STYLES-----------------------------------------------*/
    header li {
        font-size: 1.8rem;
        padding: 15px;
    }

    .logo,
    .signature {
    font-family: "viktor-script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.7rem;
    text-transform: none;
    }
    
    .signature {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;  
    }

    h2 {
        font-size: 1.2rem;  
    }

    p,
    h3,
    h4,
    h5,
    h6,
    input,
    textarea,
    button {
        font-size: .8rem; 
    }

/*INDEX -------------------------------------*/
    .index-content {
        grid-template-areas: 
        "journey"
        "post"
        "latest";
    }

    .index-journey {
        max-width: 100%;
    }

    /* CAROUSEL */

    .carousel-item {
        max-width: 100%;
        max-height: 200px;
        margin: 10px auto;
    }

    i {
        font-size: 2rem;
        padding: 10px;
    }

    .carousel-item img {
        max-height: 100px;
        max-width: 100%;
        object-fit: cover;
        margin: auto;
    }

    .index-post {
        padding: 20px;
    }

    .post-content img,
    .index-post img{
        max-height: 150px;
        min-width: 120px;
        object-fit: cover;
        margin: auto;
    }

/*ARCHIVE------------------------------*/
    .archive-item {
        max-height: 400px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .archive-item:hover,
    .carousel-item:hover {
        transform: scale(1.05);
        transition: 0.5s ease-in-out;  
    }

    .archive-item img {
        max-width: 100%;
    }

/*BLOG POST ------------------------------------*/
    .post-content {
        padding: 20px;
    }    

}